
body {
      font-family: "poppins", sans-serif;
      background-color: white;
      color: #444; 
       min-height: 100vh;
    }
    /*navbar */  
.navbar-nav .nav-link{
   color:#02164c;
  font-size: large;
    font-weight: bold;
}


.navbar-nav .nav-link.active{
  
 color:#02164c;
  font-size: large;
  font-weight: bold; 
  text-decoration: underline; 
  text-decoration-thickness:4px ;
  text-decoration-color: yellow;
}
a.nav-link:hover,
a.nav-link.active:hover{
   background-color:#02164c;
 color: white;}

.navbar-text{
    font-size: large;
    text-transform: uppercase;
    color: #02164c;
  }
  
    #navbarText { 
       justify-content: flex-end;
     
}
li {
  margin:0 20px;
}
   
   /*Home page header hero image */ 
.top{
display: flex;
align-items: flex-end;
position: relative;
}

.content{
    width:100%;
display: flex;
flex-direction: column;
position: absolute;
align-items: center;
justify-content: flex-end;
background-color:rgba(242, 189, 219, 0.6);
color: #000C2E;

}
.button{
background-color: #000C2E;
color: rgb(242, 189, 219);
margin-bottom: 10px; 
border: none; 
cursor: pointer;  
   text-decoration: none;
   /*Chatgpt code for button style */ 
   transition: background-color 0.3s ease-in-out;
      padding: 0.9rem 2rem;
      font-size: 1rem;
      border-radius: 20px;
}
    .button:hover {
      background-color: #87003a;
    }




p{
    margin-top:0px;
    font-size: large;
}


     /*Home page main content */ 
    #course-offers {
     display: flex;
     flex-direction: column;
      justify-content: center;
    }
    .course {
      background-color: #fff;
      border: 5px solid yellow;
      border-radius: 8px;
        width:100%;
      padding: 20px;
      margin-bottom: 10px;
      
      
    }
    main h1{
       margin:20px; 
       text-align: center;
       
    }
    .course h2 {
      color: #000C2E;
      margin-top: 5px;
     
    }
    .course ul {
      padding-left: 20px;
    }
    .course li::marker {
      color: #000C2E;
    }

  /*Home page main  */ 
img{
    background-position: center;
    width:100%;
}

h1,h2{
    font-family: "Anton", sans-serif;
    letter-spacing: 2px;
    

}
 /*Sign-up page main  */ 


.form-section {
      background: white;
      padding: 2.5rem 3rem;
      border-radius: 16px;
      max-width: 500px;
      width: 90%;
      text-align: center;
     margin:0 auto;
    }

 form {
      display: flex;
      flex-direction: column;
           gap: 1rem;
          
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      padding: 0.8rem;
      border: 3px solid yellow;
      border-radius: 8px;
      font-size: 1rem;
      width: 100%;
    }

.register-button{
background-color: #87003a;
color: rgb(242, 189, 219);
margin-bottom: 10px; 
border: none; 
    text-decoration: none;
   /*Chatgpt code for button style */ 
   transition: background-color 0.3s ease-in-out;
      padding: 0.9rem 2rem;
      font-size: 1rem;
      border-radius: 20px;
}
    .register-button:hover {
      background-color:yellow;
      color:#000C2E;
    }
form p a {
  color:#87003a;
 
}
.form-text {
   
           font-size: larger;
}

  /*footer */ 
footer {
   padding: 20px 20px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000C2E;
   color: white;
   
}

 /* Footer*/
  #social-media {
    text-align: center;
    padding: 20px 0;
   display: flex;
   justify-content: space-evenly;
    list-style-type: none;
  }
  #social-media i {
    font-size: 160%;
    padding: 5%;
    color: white;
  }
 footer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: small;
 }
 #footer{
  display: flex;
  justify-content: space-around;
 }
 h3{
  text-align: center;
 }
