
body {
      font-family: "poppins", sans-serif;
      background-color: white;
      color: #444; 
       min-height: 100vh;
    }



   /*Home page header hero image */ 
.top{
display: flex;
align-items: flex-end;
position: relative;
}

.content{
    width:100%;
display: flex;
flex-direction: column;
position: absolute;
align-items: center;
justify-content: flex-end;
background-color:rgba(242, 189, 219, 0.6);
color: #000C2E;

}
.button{
background-color:#000C2E;
color: rgb(242, 189, 219);
margin-bottom: 10px;
}
p{
    margin-top:0px;
    font-size: large;
}
     /*Home page main content */ 
    #course-offers {
     display: flex;
     flex-direction: column;
      justify-content: center;
    }
    .course {
      background-color: #fff;
      border: 5px solid yellow;
      border-radius: 8px;
        width:100%;
      padding: 20px;
      margin-bottom: 10px;
      
    }
    main h1{
       margin:20px; 
       text-align: center;
       
    }
    .course h2 {
      color: #000C2E;
      margin-top: 5px;
     
    }
    .course ul {
      padding-left: 20px;
    }
    .course li::marker {
      color: #000C2E;
    }

  /*Home page main  */ 
img{
    background-position: center;
    width:100%;
}

h1,h2{
    font-family: "Anton", sans-serif;
    letter-spacing: 2px;
    

}
  /*footer */ 
footer {
   padding: 20px 20px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000C2E;
   color: white;
   text-align: center;
}

  
